{% comment %} Custom SPBOX footer markup {% endcomment %}
<footer class="footer">
  <div class="footer-layout">
    <div class="footer-block left">
      <img src="{{ 'SPBOX-Simple-Black.png' | asset_url }}" alt="SPBOX logo" class="footer-logo" width="auto" height="100%">
    </div>
    <div class="footer-block right">
      <a href="{{ routes.root_url }}" class="footer-link">home</a>
      <a href="/pages/about-us" class="footer-link">about</a>
      <a href="mailto:contact@spboxstore.com?subject=Hi" class="footer-link">contact</a>
      <a href="#" class="footer-link newsletter">Newsletter</a>
    </div>
    <div class="footer-legal">
      <a href="/policies/privacy-policy" class="footer-link left">Privacy Policy</a>
      <span class="footer-link center">Seek Labs LLC</span>
      <a href="/policies/terms-of-service" class="footer-link right">T&amp;C</a>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "SPBOX Footer",
  "settings": [],
  "presets": [
    {
      "name": "SPBOX Footer"
    }
  ]
}
{% endschema %}
