<header class="nav">
  <div class="nav-layout">

    <img src="{{ 'SPBOX-Simple-Black.png' | asset_url }}" alt="SPBOX logo" class="nav-logo" width="auto" height="100%">

    <div class="nav-hamburger">
      <div class="hamburger-line"></div>
      <div class="hamburger-line"></div>
      <div class="hamburger-line"></div>
    </div>

    <a href="" class="nav-link cart">Cart (<span>{{ cart.item_count }}</span>)</a>

    <nav class="nav-menu">
      <a href="" class="nav-link main">Shop</a>
      <a href="" class="nav-link main">About</a>
      <a href="" class="nav-link main">Account</a>
    </nav>

  </div>
</header>
